/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2017, 12:54:54 PM
    Author     : Chris
*/

.card_title{
    color:teal;
}
.card_progress{
    color:teal;
}
.card_date{
    color: grey;
}
.field_set{
  border-color: whitesmoke;
  border-style: solid;
}
